@import "settings";
@import "foundation";

body {
  margin: 0;
  padding: 0;
}

.icon {
  width: 25px;
  text-align: center;
}

#this {
  margin: 0;
}

.login {
  margin-top: 3em;
}

.grid-block .passwordConfirmation {
  color: #666;
  margin-bottom: 5%;
}

.grid-block .gap {
  height: 34px;
}

.teamName {
  color: #FF9400;
}

.showExplanation {
  border: 1px solid #666;
}
